.carte {
  background: transparent!important;
  border: none!important;
  border-radius: 0px!important;
  padding: 0px!important;
}

.card-img {
  width: 100%;
  border-radius: 0px!important;
  object-fit: cover;
  object-position: left;
}

.little-footer-border {
  background-color: #D30830;
  width: 10%;
  height: 10px;
  color: #D30830;
  margin-bottom: 20px;
  margin-top: 50px;
}

.text-footer {
  color: white;
  font-weight: 800;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0px!important;
  outline: none;
  position: relative;
}

select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

select:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

select {
  background-color: #D30830;
  width: 15%;
  border: none;
  color: #FFFFFF;
}


select::before,
select::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid white;
}

select::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

select::after {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(180deg);
}


.noir {
  background-color: #1A1A1A;
}

.title {
  color: #D30830!important;
  text-decoration: none;
  font-weight: 700;
  font-size: 4rem;
}

.subtitle {
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 700;
}

.text {
  color: #FFFFFF;
}

.search-bar {
  background-color: transparent;
  display: flex;
  justify-content: end;
  text-indent: 5%;
  color: white;
  border-color: white;
  outline: none;
}

.search-bar input[type="text"] {
  width: 22vw;
  height: 3rem;
  min-height: 1rem;
  padding: 10px;
  font-size: 18px;
}

.searchButton {
  display: none;
}

.btn-danger  {
  background-color: #D30830!important;
  border: none!important;
  border-radius: none!important;
  color: white;
  font-weight: 800;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.1rem;
}

/* Responsive styles */
@media (max-width: 1080px) {
  .search-bar input[type="text"] {
    width: 100%;
  }

  .title {
    color: #D30830!important;
    text-decoration: none;
    font-weight: 700;
    font-size: 3rem;
  }

  .subtitle {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
  }
}

@media (max-width: 740px) {
  .search-bar input[type="text"] {
    width: 100%;
  }

  .title {
    color: #D30830!important;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
  }

  .subtitle {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
  }
}